<link rel="stylesheet" href="/style.css">
<%- include("nav") %>

<h2>Edit Category</h2>

<form method="POST" action="/categories/edit/<%= category.category_id %>">
  <input type="text" name="category_name" value="<%= category.category_name %>" required>
  <button>Update</button>
</form>
