<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("nav") %>
<div class="container">
  <h2>Dashboard</h2>
  <div class="cards">
    <div class="card">
      <h3>Total Categories</h3>
      <p><%= totalCategories %></p>
    </div>
    <div class="card">
      <h3>Total Products</h3>
      <p><%= totalProducts %></p>
    </div>
  </div>
</div>
</body>
</html>